* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("./images/fondotodolist.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18rem;
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(238, 234, 234);
    opacity: 0.9;
}

.titulo > h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.titulo > p {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.app {
    border: 1px solid white;
    border-radius: 20px;
    position: absolute;
    width: 60%;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.97;
}

.parte1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.parte1 > h2 {
    font-size: 2rem;
    margin-left: 5%;
}

.parte1 > button {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-right: 5%;
    gap: 0.6rem;
    background-color: rgb(44, 231, 34);
    border: 1px solid rgb(44, 231, 34);
    border-radius: 8px;
    padding-inline: 1rem;
}

.parte1 > button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.parte1 > button > img {
    height: 2rem;
}

.parte1 > button > p {
    font-size: 1.3rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.parte2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    margin-inline: 5%;
    height: 33rem;
    overflow-y: auto;
    align-content: start;
}

.parte2 > div {
    display: flex;
    border: 1px solid green;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    padding-inline: 2%;
    align-items: center;
    height: 8rem;
}

.check {
    display: flex;
}

.clickeado {
    height: 1.25rem;
    width: 1.25rem;
}

.informacion {
    display: flex;
    flex-direction: column;
}

.informacion > h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}

.informacion > p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.fecha {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fecha > img {
    height: 3rem;
}

.fecha > h3 {
    font-size: 1.3rem;
}

.prioridad {
    display: flex;
}

.prioridad > p {
    font-size: 1.2rem;
}

.borrar {
    display: flex;
}

.borrar > button > img {
    height: 2rem;
}

.borrar > button:hover {
    cursor: pointer;
}

.parte3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 5%;
    height: 4rem;
    margin-bottom: 0.8rem;
}

.informacion1 {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.pendientes {
    font-size: 1.4rem;
}

.completadas {
    font-size: 1.4rem;
}

.botonesfiltro {
    display: flex;
    gap: 2rem;
}

.todasfiltro {
    font-size: 1.3rem;
    padding-inline: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
}

.todasfiltro:hover {
    cursor: pointer;
    background-color: rgb(44, 231, 34);
    border: 1px solid rgb(44, 231, 34);
}

.pendientesfiltro {
    font-size: 1.3rem;
    padding-inline: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
}

.pendientesfiltro:hover {
    cursor: pointer;
    background-color: rgb(44, 231, 34);
    border: 1px solid rgb(44, 231, 34);
}

.completadasfiltro {
    font-size: 1.3rem;
    padding-inline: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
}

.completadasfiltro:hover {
    cursor: pointer;
    background-color: rgb(44, 231, 34);
    border: 1px solid rgb(44, 231, 34);
}

#modal {
    width: 35%;
    border: 1.5px solid black;
    border-radius: 15px;
    padding-inline: 2%;
}

.header_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
}

.header_form > p {
    font-size: 1.65rem;
}

.header_form > button {
    border: none;
    font-weight: bold;
    background-color: white;
    font-size: 1.3rem;
}

.header_form > button:hover {
    cursor: pointer;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.formulario > div > label {
    font-size: 1.3rem;
}

.formulario > div > input {
    height: 1.7rem;
    font-size: 1.1rem;
    border: 1px solid black;
    border-radius: 6px;
}

.formulario > div > select {
    font-size: 1rem;
    height: 1.8rem;
    border: 1px solid black;
    border-radius: 6px;
}

.formulario > button {
    align-self: center;
    margin-top: 1.3rem;
    margin-bottom: 0.3rem;
    font-size: 1.3rem;
    padding-inline: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: 1px solid black;
    border-radius: 8px;
}

.formulario > button:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
    transform: scale(1.1);
}
