* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    border: 1px solid black;
    height: 100vh;
    width: 100%;
}

.titulo {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}

.app {
    border: 1px solid blue;
}

.parte1 {
    display: flex;
    align-items: center;
}

.parte1 > h2 {
    font-size: 2rem;
}

.parte1 > button {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.parte1 > button > img {
    height: 2rem;
}

.parte2 {
    display: grid;
    grid-template-columns: 1fr;
}

.parte2 > div {
    display: flex;
    border: 1px solid violet;
}

.check {
    display: flex;
}

.informacion {
    display: flex;
}

.fecha {
    display: flex;
}

.prioridad {
    display: flex;
}

.borrar {
    display: flex;
}
