* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    border: 1px solid black;
    height: 100vh;
    width: 100%;
}

.titulo {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}

.app {
    border: 1px solid blue;
}
